* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p,
input,
button {
  font-size: 30px;
}
html,
body,
main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}
